<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
<h1>Program Identification Form</h1>

<%= render 'form', program: @program %>

<%= link_to 'Back', programs_path %>

    </div>
  </div>
</div>
