<h1>Program Page</h1>

<p>Hi, this is the program you just created: <%= @program.program_name %></p>
<p>Hi, this is the program level you just created: <%= @program.program_level %></p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>

