 <div class="container">
  <h1>Staff Page</h1>
  <div class="row">
    <div class="col-sm-8 text-center" style="background-color:yellow;">
      <p>Lorem ipsum...</p>
      <p>and another line</p>
    </div>
    <div class="col-sm-4" style="background-color:pink;">
      <p>Sed ut perspiciatis...and sedjf siofj iofjesio fisfj isfej iosfho fiofhio fhiosfh osifhoSFH:FJ EFIj IFJ eflkFJkdj isdfjsfjisfj sijfisfjisfj</p>
    </div>

    <div class="col-sm-12" style="background-color:blue;">
      <p>some text</p>
      </div>
  </div>
</div>
